<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="plugins/element-ui/index.css">
    <script src="plugins/vue/vue.js"></script>
    <script src="plugins/element-ui/index.js"></script>
    <script src="plugins/axios/axios.min.js"></script>
    <link href="img/favicon.ico" rel="shortcut icon">
    <title>学生管理系统后台首页</title>
    <style>
        body {
            margin: 0;
            height: 100%;
        }
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-container {
            height: 100%;
        }
        .el-main {
            padding: 0px;
            margin: 0px;
            height: 100%;
        }

        html,body,#app,.el-container{
            padding: 0px;
            margin: 0px;
            height: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container style="border: 1px solid #eee">
        <el-header style="text-align: right; font-size: 12px">
            <el-form :inline="true" class="demo-form-inline" style="margin-top: 10px;">
                <span>{{username}}</span>
                <el-form-item label="年级快速查找:">
                    <el-input v-model="filterText" placeholder="输入关键字进行过滤"></el-input>
                </el-form-item>
            </el-form>
        </el-header>
        <el-container>
            <el-aside>
                <el-tree
                        :data="data"
                        show-checkbox
                        node-key="id"
                        ref="tree"
                        highlight-current
                        :props="defaultProps"
                        :filter-node-method="filterNode"
                        @node-click="handleTreeNodeClick"
                        @check-change="handleCheckChange"
                >
                </el-tree>
            </el-aside>
            <el-main>
                <el-row>
                    <el-col :span="12">
                        <h4>班级信息:{{tableData.name}}</h4>
                    </el-col>
                    <el-col :span="12" :push="10" style="margin-top: 10px">
                        <el-button type="primary" @click="edit">编辑</el-button>
                    </el-col>
                </el-row>
                <el-table
                        :data="studentsList"
                        border
                        style="width: 100%">
                    <el-table-column
                            prop="name"
                            label="学生姓名">
                    </el-table-column>
                </el-table>
                <el-table
                        :show-header="false"
                        :data="tableDataBll"
                        border
                        style="width: 100%;"
                >
                    <el-table-column prop="total" align="center" ></el-table-column>
                    <el-table-column prop="countC" ></el-table-column>
                    <el-table-column prop="teacherName"  ></el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </el-container>
    <el-dialog :visible.sync="dialogFormVisible">
        <el-tabs v-model="activeName" type="card">
            <el-tab-pane label="班级基本信息" name="first">
                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="班级名称" prop="name">
                                <el-input v-model="formData.name"/>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="老师姓名" prop="teacherName">
                                <el-input v-model="formData.teacherName"/>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="学生信息" name="second">
                <div class="checkScrol">
                    <table class="datatable">
                        <thead>
                        <tr>
                            <th>选择</th>
                            <th>学生姓名</th>
                            <th>学生年龄</th>
                            <th>学生手机号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="c in studentsList">
                            <td>
                                <input :id="c.id" v-model="checkitemIds" type="checkbox" :value="c.id">
                            </td>
                            <td><label :for="c.id">{{c.name}}</label></td>
                            <td><label :for="c.id">{{c.age}}</label></td>
                            <td><label :for="c.id">{{c.phone}}</label></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </el-tab-pane>
        </el-tabs>
    </el-dialog>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        data: {
            size: '',
            activeName: 'first',
            username: '',
            countC: 0,
            teacherName: '',
            data: [],
            tableData:[],
            studentsList:[],
            checkitemIds:[],
            formData:{},
            filterText:'',
            dialogFormVisible:false,
            defaultProps: {
                children: 'children',
                label: 'label'
            },
        },
        computed: {
            tableDataBll() {
                return [
                    {
                        total: '班级基本信息',
                        countC: '班级人数:' + ' ' + this.countC,
                        teacherName: '老师姓名:' + ' ' + this.teacherName
                    }
                ]
            }
        },
        created() {
            this.findTree();
            axios.get('/login/getUserName').then((response)=>{
                this.username = response.data;
            });
        },
        methods: {
            findpage(id){
                axios.get("/class/query/"+id+"").then((response)=>{
                    this.tableData = response.data;
                    this.countC = response.data.countC;
                    this.teacherName = response.data.teacherName;
                    var students = response.data.students;
                    for (let i = 0; i < students.length; i++) {
                        this.studentsList.push(students[i]);
                    }
                })
            },
            edit(){
                this.dialogFormVisible = true;
                this.findStudentByClassName();
            },
            findStudentByClassName(){
                var name = this.tableData.name;
                axios.get('/class/findStudent/'+name+"").then((response)=>{
                    this.formData = response.data;
                });
            },
            findTree(){
                axios.get("/menu/queryClass").then((response)=>{
                    this.data = response.data.data;
                })
            },
            handleTreeNodeClick(node){
                //alert(node.id);
                this.findpage(node.id);
            },
            handleCheckChange(data, checked, indeterminate) {
                console.log(data, checked, indeterminate);
            },
            filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            }
        }
    })
</script>
</html>