<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../backend/plugins/element-ui/index.css">
    <script src="../backend/plugins/vue/vue.js"></script>
    <script src="../backend/plugins/element-ui/index.js"></script>
    <script src="../backend/plugins/axios/axios.min.js"></script>
    <title>学生后台管理系统</title>
</head>
<style>
    #app {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px;
    }
</style>
<body>
<div id="app">
    <el-container>
    <el-header>
        <el-button @click="sameDir()">添加同级文件夹</el-button>
        <el-button @click="sameFile()">上传文件</el-button>
    </el-header>
    <el-main>
        <el-table :data="pathList">
            <el-table-column label="文件名" align="center" prop="name" width="auto"></el-table-column>
            <el-table-column
                    label="操作"
                    width="auto"
                    align="center">
                <template slot-scope="scope">
                    <el-button
                            type="text"
                            size="small"
                            @click="backBread(scope.row)">
                        {{ scope.row.id == '1' ? '' : '返回' }}
                    </el-button>
                    <el-button
                            type="text"
                            size="small"
                            @click="deleteFolder(scope.row)">
                        删除
                    </el-button>
                    <i class="el-icon-plus" v-if="scope.row.type != 'file'" @click="addFolder(scope.row)"></i>
                    <i class="el-icon-download" v-if="scope.row.type == 'file'" @click="download(scope.row)"></i>
                    <i class="el-icon-files" v-if="scope.row.childList.length !== 0 && scope.row.type != 'file'" @click="getFoldList(scope.row)"></i>
                    <i class="el-icon-folder" v-if="scope.row.childList.length == 0 && scope.row.type != 'file'" @click="empty()"></i>
                </template>
            </el-table-column>
        </el-table>
    </el-main>
</el-container>
    <el-dialog :visible.sync="dialogFormVisible" title="文件夹新建">
        <el-row>
            <label>文件夹名</label>
            <el-input v-model="name"></el-input>
            <label>文件夹路径</label>
            <el-input :disabled=true v-model="dir"></el-input>
        </el-row>
        <el-button @click="addConfirm()">确定</el-button>
    </el-dialog>
    <el-dialog :visible.sync="dialogFormVisibleFile" title="文件上传">
        <el-row>
            <el-upload
                    class="upload-demo"
                    ref="upload"
                    action="/file/upload"
                    :before-upload="beforeAvatarUpload"
                    :on-success="handleAvatarSuccess"
                    :data="getfileData()"
                    :file-list="fileList"
                    :limit="1"
                    :auto-upload="false">
                <el-button slot="trigger" size="middle" type="primary">选择附件</el-button>
                <el-button style="margin-left: 10px;" size="middle" type="success" @click="submitUpload">上传到服务器</el-button>
            </el-upload>
        </el-row>
    </el-dialog>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            fileList:[],
            name:'',
            dir:'',
            fileList:[],
            fileData:{
                path:'',
                name:''
            },
            dialogFormVisible:false,
            dialogFormVisibleFile:false,
            tempPathList:[],
            tempPath:[],
            pathConfirm:'',
            pathDirList:[],
            pathList:[],
            pathDialogList:[],
            searchForm:{}
        },
        created() {
            this.getList();
        },
        methods: {
            common(){
                let str = '';
                for (let i = 0; i < this.tempPath.length; i++) {
                    if(this.tempPath[i] != ''){
                        str = str + "/" + this.tempPath[i];
                    }
                }
                if(str === ''){
                    str = '/';
                }
                return str;
            },
            sameFile(){
                this.dialogFormVisibleFile = true;
            },
            sameDir(){
                this.dir = this.common();
                this.dialogFormVisible = true;
            },
            getList(){
                axios.get("/file/All").then((response)=>{
                    this.pathList = response.data;
                })
            },
            download(node) {
                axios.get("/test/download/"+node.name+"",{responseType:'blob'}).then((response)=>{
                    let blob = new Blob([response.data]);
                    let filename = node.name;
                    const f = document.createElement('a');
                    f.download = filename;
                    f.style.display = 'none';
                    f.href = URL.createObjectURL(blob);
                    document.body.appendChild(f);
                    f.click();
                    URL.revokeObjectURL(f.href);
                    document.body.removeChild(f);
                })
            },
            addFolder(node) {
                if(node.id == 1){
                    this.dir = "/" + node.name;
                } else {
                    let str = '';
                    for (let i = 0; i < this.tempPath.length; i++) {
                        if(this.tempPath[i] != ''){
                            str = str + "/" + this.tempPath[i];
                        }
                    }
                    this.dir = str + "/" + node.name
                }
                this.dialogFormVisible = true;
            },
            addConfirm(){
                let param = {
                    fileName:this.name,
                    dir:this.dir
                }
                axios.post("/file/addDir",param).then((response)=>{
                    if(response.data.flag){
                        this.getList();
                    }
                }).finally(()=>{
                    this.dialogFormVisible = false;
                })
            },
            deleteFolder(node){
                let param = {
                    fileName:node.name,
                    dir:this.common()
                }
                if (node.type === 'file') {
                    axios.post("/file/deleteDir",param).then((response)=>{
                        if(response.data.flag){
                            this.$message({
                                type: 'success',
                                message: '删除成功!'
                            });
                            this.getList();
                        } else {
                            this.$message({
                                type: 'error',
                                message: '删除失败'
                            });
                        }
                    })
                } else {
                    if(node.childList.length !== 0){
                        this.$confirm('文件夹下还有文件, 是否继续删除?', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            axios.post("/file/deleteDir",param).then((response)=>{
                                if(response.data.flag){
                                    this.$message({
                                        type: 'success',
                                        message: '删除成功!'
                                    });
                                    this.getList();
                                } else {
                                    this.$message({
                                        type: 'error',
                                        message: '删除失败'
                                    });
                                }
                            })
                        }).catch(() => {
                            this.$message({
                                type: 'info',
                                message: '已取消删除'
                            });
                        });
                    } else {
                        this.$confirm('是否删除?', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            axios.post("/file/deleteDir",param).then((response)=>{
                                if(response.data.flag){
                                    this.$message({
                                        type: 'success',
                                        message: '删除成功!'
                                    });
                                    this.getList();
                                } else {
                                    this.$message({
                                        type: 'error',
                                        message: '删除失败'
                                    });
                                }
                            })
                        }).catch(()=>{
                            this.$message({
                                type: 'info',
                                message: '已取消删除'
                            });
                        });
                    }
                }
            },
            getFoldList(node){
                this.tempPathList[node.id] = this.pathList;
                this.pathList = node.childList;
                this.tempPath[node.id - 1] = node.name;
            },
            empty(){
                this.$message({
                    message: '文件夹为空',
                    type: 'info',
                })
            },
            backBread(node){
                this.pathList = this.tempPathList[node.id - 1];
                this.tempPath[node.id - 2] = '';
                if(node.id == 2){
                    this.tempPathList = [];
                }
            },
            handleAvatarSuccess(){
                this.getList();
                this.dialogFormVisibleFile = false;
            },
            beforeAvatarUpload(file){
                var vm = this;
                vm.fileData.path = vm.dir;
                vm.fileData.name = file.name;
                const isLt2M = file.size / 1024 / 1024 < 20;
                if (!isLt2M) {
                    vm.$message.error('上传文件大小不能超过 20MB!');
                }
                return isLt2M;
            },
            getfileData(){
                var vm = this;
                return vm.fileData;
            },
            submitUpload(){
                this.$refs.upload.submit();
            }
        }
    })
</script>
</html>
