<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="plugins/element-ui/index.css">
  <link rel="stylesheet" href="../static/dayAndNight/css/style.css">
  <script src="plugins/vue/vue.js"></script>
  <script src="plugins/element-ui/index.js"></script>
  <script src="plugins/axios/axios.min.js"></script>
  <link href="img/favicon.ico" rel="shortcut icon">
  <title>学生后台管理系统</title>
</head>
<body>
<div class="components">
  <!-- 组件所有元素 -->
  <div class="main-button">
    <!-- 按钮主体(圆) -->
    <div class="moon"></div>
    <div class="moon"></div>
    <div class="moon"></div>
    <!-- 月亮上的陨石坑 -->
  </div>
  <div class="daytime-backgrond"></div>
  <div class="daytime-backgrond"></div>
  <div class="daytime-backgrond"></div>
  <!-- 按钮底层的三个虚影 -->
  <div class="cloud">
    <!-- 所有的云 -->
    <div class="cloud-son"></div>
    <div class="cloud-son"></div>
    <div class="cloud-son"></div>
    <div class="cloud-son"></div>
    <div class="cloud-son"></div>
    <div class="cloud-son"></div>
  </div>
  <div class="cloud-light cloud-float">
    <!-- 云的虚影 -->
    <div class="cloud-son"></div>
    <div class="cloud-son"></div>
    <div class="cloud-son"></div>
    <div class="cloud-son"></div>
    <div class="cloud-son"></div>
    <div class="cloud-son"></div>
  </div>
  <div class="stars">
    <!-- 所有星星，每一个星星由四个div拼合而成 -->
    <div class="star big">
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
    </div>
    <div class="star big">
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
    </div>
    <div class="star medium">
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
    </div>
    <div class="star medium">
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
    </div>
    <div class="star medium">
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
    </div>
    <div class="star small">
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
    </div>
    <div class="star small">
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
    </div>
    <div class="star small">
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
    </div>
    <div class="star small">
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
    </div>
    <div class="star small">
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
    </div>
    <div class="star small">
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
      <div class="star-son"></div>
    </div>
  </div>
</div>
<div id="app">
  <div class="container">
    <el-form ref="form" :model="form" label-width="80px" style="margin-top: 20px;">
      <el-form-item label="标题">
        <el-input v-model="form.name" style="width: 150px;"></el-input>
      </el-form-item>
      <el-form-item label="时间">
        <el-col :span="11">
          <el-time-picker placeholder="选择时间" v-model="form.date" style="width: 150px;"></el-time-picker>
        </el-col>
      </el-form-item>
      <el-form-item label="关联学生">
        <el-col :span="11">
          <el-select v-model="value" placeholder="请选择">
            <el-option
                    v-for="(item,index) in form.options"
                    :key="index"
                    :label="item.label"
                    :value="item.label">
            </el-option>
          </el-select>
        </el-col>
      </el-form-item>
      <!-- 遍历已创建的选项渲染 -->
      <div class="item" v-for="(item, index) in form.itemList" :key="index">
        <el-form-item :label="(index+1)+''">
          <div class="item_title">
            <span>、{{typeMap[item.type]}}: </span>
            <span v-text="item.title"></span>
          </div>
          <!-- 单项填空 -->
          <div v-if="item.type==='input'">
            <el-input class="disabled" placeholder="禁止输入" disabled></el-input>
          </div>
          <!-- 单选 -->
          <div v-else-if="item.type==='radio'">
            <div class="warp" v-for="(elm, i) in item.textList" :key="i">
              <el-radio-group v-model="choose" @change="agreeChange">
                <el-radio :label="(i+1)+'、'"></el-radio>
              </el-radio-group>
              <el-input v-model="item.textList[i]"></el-input>
            </div>
          </div>

          <!-- 多选 -->
          <div v-else-if="item.type==='checkbox'">
            <div class="warp" v-for="(elm, i) in item.textList" :key="i">
              <el-checkbox :label="(i+1)+'、'"></el-checkbox>
              <el-input v-model="item.textList[i]"></el-input>
            </div>
          </div>

          <!-- 选择填空 -->
          <div v-else-if="item.type === 'select'">
            <el-select v-model="value" placeholder="请选择">
              <el-option
                      v-for="(elm, i) in item.textList" :key="i"
                      :label="item.textList[i]"
                      :value="i+''">
              </el-option>
            </el-select>
          </div>

          <!-- 矩阵填空 -->
          <div v-else-if="item.type==='matrix'">
            <div class="warp" v-for="(elm, i) in item.textList" :key="i">
              <span> {{item.textList[i]}}：</span>
              <el-input class="disabled" placeholder="禁止输入" disabled></el-input>
            </div>
          </div>
          <!-- 上移、下移、删除 -->
          <div style="margin-top: 10px">
            <el-button @click="handleItem('up', item)" v-if="index!=0">上移</el-button>
            <el-button @click="handleItem('down', item)" v-if="index!=form.itemList.length-1">下移</el-button>
            <el-button @click="handleItem('del', item)">删除</el-button>
            <el-button @click="edit(item, index)">编辑</el-button>
            <el-button @click="child(item, index)">子项题</el-button>
          </div>
        </el-form-item>
      </div>

      <!-- 添加选项 -->
      <el-form-item>
        <el-button @click="add('radio')">单选</el-button>
        <el-button @click="add('checkbox')">多选</el-button>
        <el-button @click="add('input')">单项填空</el-button>
        <el-button @click="add('select')">选择填空</el-button>
        <el-button @click="add('matrix')">矩阵填空</el-button>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">立即创建</el-button>
      </el-form-item>

      <!-- 添加选项弹出框 -->
      <div class="additem">
        <el-dialog
                :title="typeMap[questItem.type]"
                :visible.sync="showItem"
                width="50%">
          <el-form-item label="标题">
            <el-input v-model="itemTitle"></el-input>
          </el-form-item>
          <el-form-item label="添加选项" v-show="questItem.type != 'input'">
            <el-input-number v-model="num" @change="handleChange" :min="1" :max="10"></el-input-number>
          </el-form-item>
          <el-form-item label="选项" v-for="(text, i) in itemText" :key="i" v-show="questItem.type != 'input'">
            <el-input v-model="itemText[i]"></el-input>
          </el-form-item>
          <span slot="footer" class="dialog-footer">
            <el-button @click="clearItem">取 消</el-button>
            <el-button type="primary" @click="determine">确 定</el-button>
          </span>
        </el-dialog>
      </div>
      <div class="additem">
        <el-dialog
                :title="typeMap[questItem.type]"
                :visible.sync="showItemChild"
                width="50%">
          <el-form-item label="标题">
            <el-input v-model="itemTitle"></el-input>
          </el-form-item>
          <el-form-item label="添加选项" v-show="questItem.type != 'input'">
            <el-input-number v-model="num" @change="handleChange" :min="1" :max="10"></el-input-number>
          </el-form-item>
          <el-form-item label="选项" v-for="(text, i) in itemText" :key="i" v-show="questItem.type != 'input'">
            <el-input v-model="itemText[i]"></el-input>
          </el-form-item>
          <span slot="footer" class="dialog-footer">
            <el-button @click="clearItemChild">取 消</el-button>
            <el-button type="primary" @click="determineChild">确 定</el-button>
          </span>
        </el-dialog>
      </div>
    </el-form>
  </div>
  <el-dialog
          title="子项题"
          :visible.sync="dialogVisible"
          width="30%">
    <el-select v-model="valueItem" placeholder="请选择">
      <el-option
              v-for="item in typeItem"
              :key="item.value"
              :label="item.label"
              :value="item.value">
      </el-option>
    </el-select>
    <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="open">确 定</el-button>
  </span>
  </el-dialog>
</div>
</body>

<script>
  const $ = s => {
    let dom = document.querySelectorAll(s)
    return dom.length == 1 ? dom[0] : dom
  }
  let mainButton = $(".main-button"); //获取按钮主体
  let daytimeBackgrond = $(".daytime-backgrond"); //获取按钮背后的虚影
  let cloud = $(".cloud"); //获取云层
  let cloudLight = $(".cloud-light"); //获取云层虚影
  let components = $(".components"); //获取最外层元素
  let moon = $(".moon"); //获取陨石坑
  let stars = $(".stars"); //获取所有星星
  let isMoved = false; //按钮状态，判断是否白天黑夜,默认为白天
  let isClicked = false; // 新变量，用于跟踪是否刚刚发生了鼠标点击事件

  mainButton.addEventListener("click", function() {
    if (isMoved) {
      //白天按钮样式
      mainButton.style.transform = "translateX(0)"; //水平平移距离为0px
      mainButton.style.backgroundColor = "rgba(255, 195, 35,1)"; //按钮主体的背景颜色变为黄色(太阳)
      // 盒子阴影
      mainButton.style.boxShadow = "3px 3px 5px rgba(0, 0, 0, 0.5), inset  -3px -5px 3px -3px rgba(0, 0, 0, 0.5), inset  4px 5px 2px -2px rgba(255, 230, 80,1)";
      //云朵上升-云朵显示
      daytimeBackgrond[0].style.transform = "translateX(0)";
      daytimeBackgrond[1].style.transform = "translateX(0)";
      daytimeBackgrond[2].style.transform = "translateX(0)";
      cloud.style.transform = "translateY(10px)";
      cloudLight.style.transform = "translateY(10px)";
      components.style.backgroundColor = "rgba(70, 133, 192,1)"
      //月亮陨石坑完全透明-隐藏
      moon[0].style.opacity = "0";
      moon[1].style.opacity = "0";
      moon[2].style.opacity = "0";
      //星星上升-星星隐藏
      stars.style.transform = "translateY(-125px)";
      stars.style.opacity = "0";
      //网页背景颜色变为浅色
      document.body.style.backgroundColor = "aliceblue";
    } else {
      //黑夜按钮样式
      mainButton.style.transform = "translateX(110px)"; //水平平移距离为110px
      mainButton.style.backgroundColor = "rgba(195, 200,210,1)"; //按钮主体的背景颜色变为黄色(月亮)
      // 盒子阴影
      mainButton.style.boxShadow = "3px 3px 5px rgba(0, 0, 0, 0.5), inset  -3px -5px 3px -3px rgba(0, 0, 0, 0.5), inset  4px 5px 2px -2px rgba(255, 255, 210,1)";
      //云朵下降-云朵隐藏
      daytimeBackgrond[0].style.transform = "translateX(110px)";
      daytimeBackgrond[1].style.transform = "translateX(80px)";
      daytimeBackgrond[2].style.transform = "translateX(50px)";
      cloud.style.transform = "translateY(80px)";
      cloudLight.style.transform = "translateY(80px)";
      components.style.backgroundColor = "rgba(25,30,50,1)"
      //月亮陨石坑完全不透明-显示
      moon[0].style.opacity = "1";
      moon[1].style.opacity = "1";
      moon[2].style.opacity = "1";
      //星星下降-星星显示
      stars.style.transform = "translateY(-62.5px)";
      stars.style.opacity = "1";
      //网页背景颜色变为深色
      document.body.style.backgroundColor = "#424242";
    }
    // 检测鼠标是否点击,默认已经点击
    isClicked = true;
    // 计时器，当0.5秒后，点击状态变成非点击
    setTimeout(function() {
      isClicked = false;
    }, 500);
    isMoved = !isMoved;
  });

  // 当鼠标挪入按钮时，按钮移动事件
  mainButton.addEventListener("mousemove", function() {
    // 当按钮为点击状态时，退出
    if (isClicked) return;

    if (isMoved) {
      // 当黑夜状态时，鼠标挪入按钮
      // 按钮和背后的虚影向左平移10像素
      mainButton.style.transform = "translateX(100px)";
      daytimeBackgrond[0].style.transform = "translateX(100px)";
      daytimeBackgrond[1].style.transform = "translateX(73px)";
      daytimeBackgrond[2].style.transform = "translateX(46px)";
    } else {
      // 当白天状态时，鼠标挪入按钮
      // 按钮和背后的虚影向右平移10像素
      mainButton.style.transform = "translateX(10px)";
      daytimeBackgrond[0].style.transform = "translateX(10px)";
      daytimeBackgrond[1].style.transform = "translateX(7px)";
      daytimeBackgrond[2].style.transform = "translateX(4px)";
    }
  });

  // 当鼠标挪出按钮时，按钮移动事件
  mainButton.addEventListener("mouseout", function() {
    // 当按钮为点击状态时，退出
    if (isClicked) { return };
    if (isMoved) {
      // 当黑夜状态时，鼠标挪出按钮
      // 按钮和背后的虚影向右平移10像素
      mainButton.style.transform = "translateX(110px)";
      daytimeBackgrond[0].style.transform = "translateX(110px)";
      daytimeBackgrond[1].style.transform = "translateX(80px)";
      daytimeBackgrond[2].style.transform = "translateX(50px)";
    } else {
      // 当白天状态时，鼠标挪出按钮
      // 按钮和背后的虚影向左平移10像素
      mainButton.style.transform = "translateX(0px)";
      daytimeBackgrond[0].style.transform = "translateX(0px)";
      daytimeBackgrond[1].style.transform = "translateX(0px)";
      daytimeBackgrond[2].style.transform = "translateX(0px)";
    }
  });

  // 星星闪烁js交互部分
  // 获取所有星星元素，并随机排序星星数组
  let starArray = [...$('.star')].sort(_ => 0.5 - Math.random());

  // 定义缩放动画时长和暂停时间
  const twinkleDuration = 0.5; // 缩放动画时长（秒）
  const pauseDuration = 2; // 暂停时间（秒）

  function twinkleStars() {
    starArray.forEach((star, index) => {
      setTimeout(() => {
        star.classList.add('twinkle');
        setTimeout(() => {
          star.classList.remove('twinkle');
          if (index === starArray.length - 1) {
            setTimeout(twinkleStars, pauseDuration * 1000); // 在每次调用之间添加 2 秒的间隔
          }
        }, twinkleDuration * 1000);
      }, (index * (twinkleDuration + pauseDuration)) * 1000);
    });
  }

  twinkleStars(); // 第一次调用函数开始闪烁

  // 云层浮动动画效果
  // 定义一个获取随机方向的函数，随机选择移动距离'2px'或'-2px'
  const getRandomDirection = () => {
    const directions = ['2px', '-2px'];
    return directions[Math.floor(Math.random() * directions.length)];
  }

  // 定义一个将元素移动到随机方向的函数
  const moveElementRandomly = (element) => {
    const randomDirectionX = getRandomDirection(); // 获取随机的X方向
    const randomDirectionY = getRandomDirection(); // 获取随机的Y方向
    element.style.transform = `translate(${randomDirectionX}, ${randomDirectionY})`; // 将随机方向应用到元素的transform属性
  }

  // 在文档加载完成后执行以下代码
  document.addEventListener('DOMContentLoaded', () => {
    const cloudSons = document.querySelectorAll('.cloud-son'); // 选择所有的.cloud-son元素

    // 每秒钟执行一次以下代码
    setInterval(() => {
      cloudSons.forEach(moveElementRandomly); // 将每一个.cloud-son元素移动到随机方向
    }, 1000);
  });
</script>
<script>
  new Vue({
    el: '#app',
    data(){
      return{
        dialogVisible:false,
        choose:'1',
        value: '',
        childItemTitle: '',
        valueItem: '',
        matrixsNum: 1,
        num: 1,
        form: {
          itemList: [],
          options: [],
          name: '',
          date: ''
        },
        typeItem:[{
          value: '1',
          label: '单选'
        },{
          value: '2',
          label: '多选'
        },{
          value: '3',
          label: '问答'
        },{
          value: '4',
          label: '矩阵问答'
        },{
          value: '5',
          label: '选择'
        },],
        itemTitle: '',
        itemText: new Array(1),
        questItem: {},
        array: [],
        showItem: false,
        showItemChild: false,
        typeMap: {
          radio: '单选',
          checkbox: '多选',
          input: '问答',
          matrix: '矩阵问答',
          select: '选择'
        },
        editIndex: ''
      }
    },
    watch: {
      showItem() {
        if(!this.showItem){
          this.clearItem()
        }
      },
      showItemChild() {
        if(!this.showItemChild){
          this.clearItemChild()
        }
      }
    },
    created(){
        axios.get("/student/name").then((response)=>{
            this.form.options = response.data;
        });
    },
    methods: {
      // 创建选项
      addChild(type){
        this.questItem.type = type
        this.showItemChild = true
      },
      add(type){
        this.questItem.type = type
        this.showItem = true
      },
      // 增加/减少 子选项
      handleChange(val){
        this.itemText.length = val
      },
      agreeChange(val){
        alert(val);
      },
      child(item, index){
        this.childItemTitle = index + 1
        this.dialogVisible = true;
      },
      open() {
        var type = this.valueItem;
        if(type === '1'){
          this.addChild('radio');
        }else if(type === '2'){
          this.addChild('checkbox');
        }else if(type === '3'){
          this.addChild('input');
        }else if(type === '4'){
          this.addChild('matrix');
        }else if(type === '5'){
          this.addChild('select');
        }
        this.dialogVisible = false;
      },
      // 确定将选项添加进列表中进行渲染
      determine(){
        if(this.questItem.type=='input'){
          // 填空
          if(this.itemTitle == ''){
            this.$message('请输入选项的标题内容');
            return
          }
          if(this.editIndex !== '') {
            this.questItem.title = this.itemTitle
            this.form.itemList.splice(this.editIndex, 1, this.questItem)
            this.editIndex = ''
          }else{
            this.questItem.title = this.itemTitle;
            this.form.itemList.push(this.questItem);
          }
          this.clearItem()
        }else if(this.questItem.type == 'radio' || this.questItem.type == 'checkbox' || this.questItem.type == 'matrix' || this.questItem.type == 'select'){
          // 单选、多选、矩阵
          if(this.itemTitle == ''){
            this.$message('请输入选项的标题内容');
            return
          }
          for (var i = 0; i < this.itemText.length; i++){
            if(this.itemText[i] == '' || this.itemText[i] == undefined){
              this.$message('请完整输入每个选项内容');
              return
            }
          }
          if(this.editIndex !== '') {
            this.questItem.title = this.itemTitle;
            this.questItem.textList = this.itemText;
            this.form.itemList.splice(this.editIndex, 1, this.questItem)
            this.editIndex = ''
          }else{
            this.questItem.title = this.itemTitle;
            this.questItem.textList = this.itemText;
            this.form.itemList.push(this.questItem);
          }
          this.clearItem()
        }
      },
      determineChild(){
        if(this.questItem.type=='input'){
          // 填空
          if(this.itemTitle == ''){
            this.$message('请输入选项的标题内容');
            return
          }
          if(this.editIndex !== '') {
            this.questItem.title = this.itemTitle +"-第"+ this.childItemTitle +'题的子项题'
            this.form.itemList.splice(this.editIndex, 1, this.questItem)
            this.editIndex = ''
          }else{
            this.questItem.title = this.itemTitle +"-第"+ this.childItemTitle +'题的子项题'
            this.form.itemList.push(this.questItem);
          }
          this.clearItem()
        }else if(this.questItem.type == 'radio' || this.questItem.type == 'checkbox' || this.questItem.type == 'matrix' || this.questItem.type == 'select'){
          // 单选、多选、矩阵
          if(this.itemTitle == ''){
            this.$message('请输入选项的标题内容');
            return
          }
          for (var i = 0; i < this.itemText.length; i++){
            if(this.itemText[i] == '' || this.itemText[i] == undefined){
              this.$message('请完整输入每个选项内容');
              return
            }
          }
          if(this.editIndex !== '') {
            this.questItem.title = this.itemTitle +"-第"+ this.childItemTitle +'题的子项题'
            this.questItem.textList = this.itemText;
            this.form.itemList.splice(this.editIndex, 1, this.questItem)
            this.editIndex = ''
          }else{
            this.questItem.title = this.itemTitle +"-第"+ this.childItemTitle +'题的子项题'
            this.questItem.textList = this.itemText;
            this.form.itemList.push(this.questItem);
          }
          this.clearItemChild()
        }
      },
      // 编辑
      edit(item, editIndex){
        this.editIndex = editIndex
        if(item.type !== 'input'){
          this.num = item.textList.length
          this.showItem = true
          this.questItem = item
          this.itemTitle = item.title
          this.itemText = []
          this.itemText.push(...item.textList)
        }else{
          this.showItem = true
          this.questItem = item
          this.itemTitle = item.title
        }
      },
      // 关闭弹窗，清空数据
      clearItem(){
        this.num = 1
        this.itemTitle = ''
        this.itemText = ['']
        this.questItem = {}
        this.showItem = false
      },
      clearItemChild(){
        this.num = 1
        this.itemTitle = ''
        this.itemText = ['']
        this.questItem = {}
        this.showItemChild = false
      },
      // 判断上移、下移、删除
      handleItem(val, item){
        switch(val){
          case 'up':
            this.moveUp(item);
            break;
          case 'down':
            this.moveDown(item);
            break;
          case 'del':
            this.delItem(item);
            break;
          default:
            throw new Error("该操作不存在！")
        }
      },
      // 上移
      moveUp(item){
        let index = this.form.itemList.indexOf(item)
        this.form.itemList.splice(index, 1)
        this.form.itemList.splice(index-1, 0, item)
      },
      // 下移
      moveDown(item){
        let index = this.form.itemList.indexOf(item)
        this.moveUp(this.form.itemList[index+1])
      },
      // 删除
      delItem(item){
        let index = this.form.itemList.indexOf(item)
        this.form.itemList.splice(index, 1)
      },
      // 提交
      onSubmit() {
        if(this.form.name == ''){
          this.$message('请输入标题内容');
          return
        }
        if(this.form.date == ''){
          this.$message('请选择时间');
          return
        }
        if(this.form.itemList.length == 0){
          this.$message('至少添加一个选项');
          return
        }
        console.log(this.form);
        let problemVo = {
          name: this.value,
          form: this.form
        };
        axios.post("/exam/save",problemVo).then((response)=>{
          if (response.data.code === 1) {
            this.$confirm('是否继续添加问卷?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'info'
            }).then(() => {
              this.form ={};
              this.value = '';
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '不继续添加问卷'
              });
            });
          }
        })
      }
    }
  })
</script>
</html>
