<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="plugins/element-ui/index.css">
    <script src="plugins/vue/vue.js"></script>
    <script src="plugins/element-ui/index.js"></script>
    <script src="plugins/axios/axios.min.js"></script>
    <title>学生管理系统后台首页</title>
</head>
<style>
    body {
        margin: 0;
        height: 100%;
    }

    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }

    .button {
        padding: 0;
        float: right;
    }
    .picbox{
        position: relative;
        width: 100%;
    }
    .picbox:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .picbox img {
        position:  absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-container {
        height: 100%;
    }
</style>
<body>
<div id="app">
    <el-container style="border: 1px solid #eee">
        <el-header style="text-align: right; font-size: 12px">
            <el-form :inline="true" class="demo-form-inline" style="margin-top: 10px;">
                <span>{{username}}</span>
                <el-form-item label="模糊查询:">
                    <el-input v-model="queryString" ></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="query()">查询</el-button>
                </el-form-item>
            </el-form>
        </el-header>

        <el-main>
            <el-form>
                <el-row :gutter="24">
                    <el-col :span="3" v-for="(item) in tableData" :key="item.id">
                        <el-card :body-style="{ padding: '0px' }" shadow="hover">
                            <div slot="header" class="clearfix">
                                <span>学生：{{item.name}}</span>
                            </div>
                            <div class="picbox">
                                <img :src="item.url" class="image">
                            </div>
                            <div style="padding: 14px;">
                                <div class="bottom clearfix">
                                    <el-button type="text" class="button" @click="show(item.id)">查看成绩</el-button>
                                </div>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-form>

            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="pageBean.page"
                    :page-sizes="[5,10,20,50,100]"
                    :page-size="pageBean.size"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-main>
    </el-container>
    <el-dialog title="查看成绩" :visible.sync="outerVisibleShow">
        <el-table
                :data="tableDataDialog"
                style="width: 100%">
            <el-table-column
                    prop="name"
                    label="课程"
                    width="100%">
            </el-table-column>
            <el-table-column
                    prop="score"
                    label="成绩"
                    width="120">
            </el-table-column>
        </el-table>
<!--     <el-row>-->
<!--         <el-col :span="12" v-for="(item) in tableDataDialog">-->
<!--                 <el-descriptions title="成绩信息">-->
<!--                     <el-descriptions-item>-->
<!--                         <label>{{item.name}}:</label>-->
<!--                         {{item.score}}-->
<!--                     </el-descriptions-item>-->
<!--                 </el-descriptions>-->
<!--         </el-col>-->
<!--     </el-row>-->
    </el-dialog>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            currentDate: new Date(),
            username:'',
            queryString:'',
            tableData: [],
            tableDataDialog: [],
            count: 0,
            outerVisibleShow:false,
            formDataAdd:{},
            pageBean:{
                page:1,
                size:10
            },
            total:0,
        },
        created() {
            this.findpage();
            axios.get('/login/getUserName').then((response)=>{
                this.username = response.data;
            });
        },
        methods: {
            findpage(){
                var pageBean = this.pageBean;
                axios.post("/score/All",pageBean).then((response)=> {
                    this.tableData = response.data.data;
                    for (let i = 0; i < this.tableData.length; i++) {
                        this.tableData[i].url =`/score/download?name=${response.data.data[i].url}`;
                    }
                    this.total = response.data.total;
                });
            },
            show(id){
                this.outerVisibleShow = true;
                axios.get("/score/show/"+id+"").then((response)=>{
                    this.tableDataDialog = response.data;
                })
            },
            query(){
                var pageBean = this.pageBean;
                let queryString = this.queryString;
                axios.post("/score/query/"+queryString+"",pageBean).then((response)=>{
                    this.tableData = response.data.data;
                    for (let i = 0; i < this.tableData.length; i++) {
                        this.tableData[i].url =`/score/download?name=${response.data.data[i].url}`;
                    }
                    this.total = response.data.total;
                })
            },
            handleSizeChange(val){
                this.pageBean.page = 1;
                this.pageBean.size = val;
                this.findpage();
            },
            handleCurrentChange(val){
                this.pageBean.page = val;
                this.findpage();
            },
        }
    })
</script>
</html>