<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="plugins/element-ui/index.css">
  <script src="plugins/vue/vue.js"></script>
  <script src="plugins/element-ui/index.js"></script>
  <script src="plugins/axios/axios.min.js"></script>
  <link href="img/favicon.ico" rel="shortcut icon">
  <title>学生后台管理系统</title>
  <style>
    body {
      margin: 0;
      height: 100%;
    }
    .el-header {
      background-color: #B3C0D1;
      color: #333;
      line-height: 60px;
    }

    .blockClass .el-menu .el-submenu__title .span{
      display: block;
    }
    .flexClass .el-menu .el-submenu__title .span{
      display: none;
    }
    .el-aside {

    }
    .toggle-button {
      font-size: 20px;
      cursor: pointer;
      text-align: center;
    }

    .el-main {

    }

    .el-container {
      height: 100%;
    }
    .avatar {
      width: 160px;
      height: 160px;
      display: block;
    }
  </style>
</head>
<body>
<div id="app">
  <el-container style="border: 1px solid #eee">
    <el-header style="text-align: right; font-size: 12px">
      <el-form :inline="true" class="demo-form-inline" style="margin-top: 10px;">
        <span>{{username}}</span>
        <el-form-item label="模糊查询:">
          <el-input v-model="queryString" ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="query()">查询</el-button>
          <el-button type="primary" @click="addMemberHandle()">新增</el-button>
          <el-button type="danger" @click="deleteIds()">批量删除</el-button>
        </el-form-item>
      </el-form>
    </el-header>

    <el-main>
      <el-table :data="tableData" style="width: 100%" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="50">
        </el-table-column>
        <el-table-column type="index" align="center" label="序号">
        </el-table-column>
        <el-table-column prop="id" label="学号" width="160">
        </el-table-column>
        <el-table-column prop="name" label="姓名" width="120">
        </el-table-column>
        <el-table-column prop="grade" label="年级" width="120">
        </el-table-column>
        <el-table-column prop="grade_class" label="班级" width="120">
        </el-table-column>
        <el-table-column prop="phone" label="手机号" width="160">
        </el-table-column>
        <el-table-column prop="age" label="年龄" width="120">
        </el-table-column>
        <el-table-column prop="gender" label="性别" width="120">
        </el-table-column>
        <el-table-column
                label="操作"
                width="160"
                align="center"
        >
          <template slot-scope="scope">
            <el-button
                    type="text"
                    size="small"
                    class="blueBug"
                    @click="editMemberHandle(scope.row.id)">
              <!--                      :class="{notAdmin:user !== 'admin'}"-->

              编辑
            </el-button>
            <el-button
                    type="text"
                    size="small"
                    class="greenBug"
                    @click="deleteMemberHandle(scope.row.id)">
              <!--                      :class="{notAdmin:user !== 'admin'}"-->

              删除
            </el-button>
            <el-button
                    type="text"
                    size="small"
                    class="delBut non"
                    @click="statusHandle(scope.row)">
              <!--                      v-if="user === 'admin'"-->

              {{ scope.row.station == '1' ? '启用' : '禁用' }}
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="pageBean.page"
              :page-sizes="[5,10,20,50,100]"
              :page-size="pageBean.size"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total">
      </el-pagination>
    </el-main>

  </el-container>
  <el-dialog title="添加学生" :visible.sync="outerVisibleAdd">
    <el-form ref="dataAddFormAdd" :model="formDataAdd" :rules="rules" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="头像">
            <div class="block">
              <el-upload
                      class="avatar-uploader"
                      action="/student/upload"
                      :show-file-list="false"
                      :on-success="handleAvatarSuccess"
                      :on-change="onChange"
                      ref="upload"
              >

                <img v-if="imageUrl" :src="imageUrl" class="avatar"></img>
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </div>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="学号">
            <el-input v-model="formDataAdd.id"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="姓名" prop="name">
            <el-input v-model="formDataAdd.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="性别">
            <el-select v-model="formDataAdd.gender">
              <el-option label="男" value="男"></el-option>
              <el-option label="女" value="女"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="手机号">
            <el-input v-model="formDataAdd.phone"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="年级">
            <el-input v-model="formDataAdd.grade"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="班级">
            <el-input v-model="formDataAdd.grade_class"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="年龄">
            <el-slider v-model="formDataAdd.age" show-input></el-slider>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="状态">
            <el-switch
                    v-model="formDataAdd.station"
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    active-text="启用"
                    inactive-text="禁用"
                    active-value=1
                    inactive-value=0>
            </el-switch>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item>
          <el-button @click="reset()">取消</el-button>
          <el-button @click="confirm()">确定</el-button>
        </el-form-item>
      </el-row>
    </el-form>
  </el-dialog>
  <el-dialog title="编辑学生" :visible.sync="outerVisibleEdit">
    <el-form ref="dataAddFormEdit" :model="formDataEdit" :rules="rules" label-position="right" label-width="100px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="头像">
            <div class="block">
              <el-upload
                      class="avatar-uploader"
                      action="/student/upload"
                      :show-file-list="false"
                      :on-success="handleAvatarSuccess"
                      :on-change="onChange"
                      ref="upload"
              >
                <img v-if="imageUrl" :src="imageUrl" class="avatar"></img>
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </div>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="学号">
            <el-input v-model="formDataEdit.id"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="姓名" prop="name">
            <el-input v-model="formDataEdit.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="性别">
            <el-select v-model="formDataEdit.gender">
              <el-option label="男" value="男"></el-option>
              <el-option label="女" value="女"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="手机号">
            <el-input v-model="formDataEdit.phone"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="年级">
            <el-input v-model="formDataEdit.grade"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="班级">
            <el-input v-model="formDataEdit.grade_class"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="年龄">
            <el-slider v-model="formDataEdit.age" show-input></el-slider>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="状态">
            <el-switch
                    v-model="formDataEdit.station"
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    active-text="启用"
                    inactive-text="禁用"
                    active-value=1
                    inactive-value=0>
            </el-switch>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item>
          <el-button @click="resetE()">取消</el-button>
          <el-button @click="confirmE()">确定</el-button>
        </el-form-item>
      </el-row>
    </el-form>
  </el-dialog>

</div>
</body>

<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        tableData:[],
        multipleSelection: [],
        username:'',
        queryString:'',
        editid:'',
        imageUrl:'',
        pageBean:{
          page:1,
          size:10
        },
        total:0,
        outerVisibleAdd:false,
        outerVisibleEdit:false,
        formDataAdd:{},
        formDataEdit:{},
        rules: {//校验规则
          name: [
            { required: true, message: '必填项', trigger: 'blur' },
            { pattern: /^([\\u4e00-\\u9fa5]{1,20}|[a-zA-Z\\.\\s]{1,20})$/, message: '请输入正确的姓名格式', trigger: 'change' }
          ]
        },
      }
    },
    created() {
      this.findPage();
      axios.get('/login/getUserName').then((response)=>{
        this.username = response.data;
      });
    },
    methods: {
      findPage() {
        var pageBean = this.pageBean;
        axios.post("/student/All",pageBean).then((response)=> {
          //为模型数据赋值，基于VUE的双向绑定展示到页面
          this.tableData = response.data.data;
          this.total = response.data.total;
        });
      },
      addMemberHandle(){
        this.outerVisibleAdd=true;
      },
      editMemberHandle(row){
        var id = row;
        this.editid = row;
        this.outerVisibleEdit=true;
        axios.get("/student/"+id+"").then((response) => {
          if (String(response.data.code) === '1'){
            // axios.get("/score/download/"+response.data.data.url+"").then((res)=>{
            //   this.imageUrl = res;
            // })
            this.imageUrl = `/score/download?name=${response.data.data.url}`
            this.formDataEdit = response.data.data;
            this.formDataEdit.age = parseInt(response.data.data.age);
          }
        }).catch(err => {
          this.$message.error('请求出错了：' + err)
        })
      },
      deleteMemberHandle(id){
        axios.get("/student/deleteId/"+id+"").then((response) => {
          if (String(response.data.code) >= 1) {
            this.$message.success('删除成功！')
            this.findPage()
          }
        }).catch(err => {
          this.$message.error('请求出错了：' + err)
        })
      },
      statusHandle(row){
        this.id = row.id
        this.status = row.status
        var statusBean = {
          'id': this.id,
          'station': this.status ? 1 : 0
        }
        console.log("statusBean:"+statusBean.station);
        this.$confirm('确认调整该账号的状态?', '提示', {
          'confirmButtonText': '确定',
          'cancelButtonText': '取消',
          'type': 'warning'
        }).then(() => {
          axios.post("/student/status",statusBean).then((response) => {
            if (String(response.data) === '1') {
              this.$message.success('账号状态更改成功！')
              this.findPage()
            }
          }).catch(err => {
            this.$message.error('请求出错了：' + err)
          })
        })
      },
      handleSizeChange(val){
        this.pageBean.page = 1;
        this.pageBean.size = val;
        this.findPage();
      },
      handleCurrentChange(val){
        this.pageBean.page = val;
        this.findPage();
      },
      handleSelectionChange(val){
        this.multipleSelection = val;
      },
      deleteIds(){
        var array = [];
        var multipleSelection = this.multipleSelection;
        for (let i = 0; i < multipleSelection.length; i++) {
          array.push(multipleSelection[i].id);
        }
        axios.post("/student/deleteIds",array).then((response) => {
          if (String(response.data.code) >= 1) {
            this.$message.success('批量删除成功！')
            this.findPage()
          }
        }).catch(err => {
          this.$message.error('请求出错了：' + err)
        })
      },
      reset(){
        this.formDataAdd={};
        this.imageUrl ='';
        this.outerVisibleAdd = false;
      },
      resetE(){
        this.formDataEdit={};
        this.imageUrl ='';
        this.outerVisibleEdit = false;
      },
      confirmE(){
        var student = this.formDataEdit;
        var id = this.editid;
        axios.post("/student/edit/"+id+"",student).then((response) => {
          if (String(response.data.code) === '1') {
            this.$message.success('修改成功！');
            this.outerVisibleEdit = false;
            this.findPage()
          }
        }).catch(err => {
          this.$message.error('请求出错了：' + err)
        })

      },
      confirm(){
        var student = this.formDataAdd;
        axios.post("/student/add",student).then((response)=> {
          if (String(response.data.code) === '1') {
            this.$message.success('添加成功！');
            this.outerVisibleAdd=false;
            this.findPage();
          }
        }).catch(err => {
          this.$message.error('请求出错了：' + err)
        });
      },
      query(){
        var queryStr = this.queryString;
        var pageBean = this.pageBean;
        axios.post("/student/query/"+queryStr+"",pageBean).then((response)=>{
          this.tableData = response.data.data;
          this.total = response.data.total;
        })
      },
      // 导航栏跳转
      routhTo(value) {
        this.$router.push(value);
        if (value == "/login") {
          // 退出登录
          getLogout().then((res) => {
            if (res.code == 2) {
              this.$message({
                message: res.message,
                type: "success",
              });
            } else {
              this.$message({
                message: res.message,
                type: "error",
              });
            }
          });
        }
      },
      handleAvatarSuccess(response, file, fileList){
          this.imageUrl = `/score/download?name=${response.fileName}`
          this.formDataAdd.url = response.fileName;
          this.formDataEdit.url = response.fileName;

      },
      onChange(file){
        if(file){
          const suffix = file.name.split('.')[1]
          const size = file.size / 1024 / 1024 < 2
          if(['png','jpeg','jpg'].indexOf(suffix) < 0){
            this.$message.error('上传图片只支持 png、jpeg、jpg 格式！')
            this.$refs.upload.clearFiles()
            return false
          }
          if(!size){
            this.$message.error('上传文件大小不能超过 2MB!')
            return false
          }
          return file
        }
      },
    }
  })
</script>
</html>